:root{
    --background-color:#f9effc;
    --button-color:#ff5861;
    --primary-font:'Playfair Display',serif;
    --secondary-font:'Poppins',sans-serif;
    --greeting-color-font:#272142;
    
}
body{
    background-color: var(--background-color);
    font-family: var(--secondary-font);
}
h1,h2,h3,h4,h5,h6{
    color:black;
    font-weight: bold;
    font-family: var(--primary-font);
}

p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.container{
    background: #fae4f2;
    text-align: center;
    padding: 160px 20px;
}
.container p{
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    color: var(--greeting-color-font);
    
}
.container h1{
    font-size: 96px;
    line-height: 1.5;

}

.container h2{
    line-height: 1.5;
    font-family: var(--secondary-font);
    font-weight:normal;
    font-size: 24px;

}
h2{
    font-size:64px ;
}
.btn-contaner{
    padding: 0;
}

.btn-hero{
padding:15px 30px;
font-size: 18px;
line-height:27px;
color:#fff;
border-radius:8px;
background-color:var(--button-color);
text-decoration:underline;

}

.btn-project{
    color: var(--button-color);
    border: 1px solid var(--button-color);
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 4px;
    line-height: 27px;
}

.project-description{
padding: 120px 60px;
}

@media (max-width:900px){
    .container{
        padding: 80px 20px;
    }
    h2{
        font-size: 44px;
    }
    .container h1{
    font-size: 44px;
    line-height: 2;
}
.description{
    font-size: 18px;
}

    .project-description{
        padding:0;
        text-align: center;
    }
}